
<h1 >Welcome</h1>
  <h3>This appliction is the perfect place to rate and/or review all your favorite eateries
  </h3>
 <br><br>
    <% if !logged_in? %>
        <h3>Please log in or sign up to begin!</h3>     
            <br>
        <%= link_to "Sign Up", signup_path, class: "small_links"  %>
            &nbsp; &nbsp; 
        <%= link_to "Log In", login_path, class: "small_links" %>
            <br><br>
        <%= link_to('Log in with GitHub!', '/auth/github', method: :post) %>
    <% else %>
        <strong><h2 class="underlined" style="color:#c27e96">You are already logged in!</h2></strong>
        <br>
        
        <h4>Or add a your own resturant:</h4>
    <%= link_to '<button type="button" class="btn btn-outline-secondary">Add New Restaurant</button>'.html_safe, new_restaurant_path %>
    <% end %>


</p>

