<div class="container text-center">
<% if !logged_in? %>
    <br>
    <div class="container">
    <h4>Please <%= link_to "Sign Up", signup_path  %> or <%= link_to "Log In", login_path %> to add a new restaurant</h4>
    </div>
<% else %>

<h1 class="button">Add a new Restaurant: </h1>
<br>

<%= render partial: 'layouts/error_messages', locals: {instance: @restaurant} %>
<%= render 'form' %>
<% end %>
</div>